<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-HBNQpSBha0+kjzFvXaI9pT4XZhgrP7Eno1zIa2uHucF9gyU/9qCJw8svC6HzNoLZ" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0GH4FSt5y4uu7sC/XHhqJ3vOHvRN6eYB9FDF5PbXiEodvV4T1FpdGUHxH5hGr" crossorigin="anonymous">
    <style>
        
        body {
            background-color: #f8f9fa;
        }

        .carousel-item {
            height: 300px; /* Adjust height as needed */
        }




.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}




    </style>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PROFESSOR🎓</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">STUDY📚</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/item">View Items</a>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

<!-- Content Section -->
<div class="container mt-5">
    <!-- Main Content Section -->
    <div class="row">
        <div class="col-md-6">
            <h1 class="mt-5">Welcome to our Online Learning Platform</h1>
            <p>Empower yourself with knowledge anytime, anywhere.</p>
            <p>Discover a world of endless possibilities through our curated collection of educational resources.</p>
            <p>Explore our vast library of study materials, textbooks, and interactive courses designed to enhance your learning experience.</p>
            <p>Join the community of learners and educators dedicated to personal and professional growth.</p>
        </div>
        <div class="col-md-6">
            <img src="https://via.placeholder.com/500x300" class="img-fluid" alt="Illustration of online learning">
        </div>
    </div>

    <!-- Importance of Online Learning Section -->
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Why Choose Online Learning?</h2>
            <ul>
                <li>Flexibility to learn at your own pace.</li>
                <li>Access to a wide range of study materials.</li>
                <li>Opportunity to connect with experts and peers globally.</li>
                <li>Cost-effective and convenient learning solution.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="https://via.placeholder.com/500x300" class="img-fluid" alt="Illustration of online education benefits">
        </div>
    </div>

    <!-- Featured Items Section -->
    <h2 class="mt-5">Featured Study Materials</h2>
    <div class="card-group">
        <div class="card">
            {{!-- <img src="/download (3).png" class="card-img-top" alt="Illustration of laptop"> --}}
            <div class="card-body">
                <h5 class="card-title">Programming Essentials</h5>
                <p class="card-text">Comprehensive guide for beginners in coding.</p>
            </div>
        </div>
        <div class="card">
            {{!-- <img src="item2.jpg" class="card-img-top" alt="Illustration of book"> --}}
            <div class="card-body">
                <h5 class="card-title">Digital Marketing Strategies</h5>
                <p class="card-text">Learn effective marketing techniques in the digital age.</p>
            </div>
        </div>
        <div class="card">
            {{!-- <img src="item3.jpg" class="card-img-top" alt="Illustration of chair"> --}}
            <div class="card-body">
                <h5 class="card-title">Business Management Fundamentals</h5>
                <p class="card-text">Master the principles of business management for success.</p>
            </div>
        </div>
    </div>
</div>


    
<br><br><br><br>

 <a href="/index.html">Go to Index Page</a>
<center><button onclick="window.location.href='/index.html'" class="btn btn-primary">Upload Data</button></center>


<br><br><br><br>





<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Professor🎓 is dedicated to simplifying learning experiences for aspiring students and professionals. Our mission is to provide concise yet comprehensive educational resources across various disciplines. Whether you're diving into programming languages, mastering web development, or exploring advanced concepts, Professor🎓 strives to make learning efficient and enjoyable.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#">Programming Languages</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Data Science</a></li>
          <li><a href="#">Mobile Development</a></li>
          <li><a href="#">Design & Creativity</a></li>
          <li><a href="#">Business & Management</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Become an Instructor</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">© 2024 Professor🎓. All Rights Reserved.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
